@page "/"
@inject NavigationManager Navigation
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["Homepage"]</PageTitle>

<h1>@localizer["Hello, world!"]</h1>

Welcome to your new app.

@code {
    // No need for navigation methods here anymore
}