@page "/Account/AccessDenied"

<PageTitle>Brak uprawnień</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small" Class="mt-5">
    <MudPaper Elevation="4" Class="pa-4">
        <MudText Typo="Typo.h4" Color="Color.Error" GutterBottom>Brak uprawnień</MudText>
        <MudText Typo="Typo.body1">Nie posiadasz uprawnień administracyjnych.</MudText>
        <a href="/" class="mud-button mud-button-filled mt-4 d-block">Wróć</a>
    </MudPaper>
</MudContainer>
